@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Proxima Nova;
  src: url(../public/Fonts/Proxima-Nova-Rg-Regular.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Proxima Nova;
  src: url(../public/Fonts/Proxima-Nova-Rg-Regular.otf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Proxima Nova;
  src: url(../public/Fonts/Proxima-Nova-Rg-Regular.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Proxima Nova;
  src: url(../public/Fonts/Proxima-Nova-Semibold.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Proxima Nova;
  src: url(../public/Fonts/Proxima-Nova-Semibold.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Proxima Nova;
  src: url(../public/Fonts/Proxima-Nova-Semibold.otf);
  font-style: normal;
  font-weight: 600;
}



@font-face {
  font-family: Proxima Nova;
  src: url(../public/Fonts/Proxima-Nova-Bold.otf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: Proxima Nova;
  src: url(../public/Fonts/Proxima-Nova-Bold.otf);
  font-style: normal;
  font-weight: 900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Proxima Nova';
  font-weight: 400;
  scroll-behavior: smooth;
}